@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Manrope:wght@500&family=Noto+Sans:wght@100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth;
 }

.navbar {
  z-index: 99;
}

input:focus {
  outline: none;
}

.titleBox{
  clip-path: polygon(5% 0%, 95% 0%, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0% 80%, 0% 20%);
}